.back-color-hero {
  background: #FF9C7D;
}

.blue {
  background: #C9E8F2;
}

.back-color-card {
  background: #FFF8E4;
}

.back-color-br {
  background: #DABC98;
}

.back-color-orange {
  margin-top: 162px;
  background: #FF9C7D;
}